/*
!/xxl-app/
!/xxl-core/
*.class
*.jar

xxl-app/Makefile
xxl-core/Makefile

export CLASSPATH=/home/jose/po/dev-xxl/xxl-app/xxl-app.jar:/home/jose/po/dev-xxl/xxl-core/xxl-core.jar:/home/jose/po/dev-xxl/po-uilib/po-uilib.jar
export CLASSPATH=/home/francisca105/ist/dev-xxl/xxl-app/xxl-app.jar:/home/francisca105/ist/dev-xxl/xxl-core/xxl-core.jar:/home/francisca105/ist/po-uilib/po-uilib.jar


java -Dimport=/home/francisca105/ist/PO-2023-TESTS/Francisca/teste1.import xxl.app.App < /home/francisca105/ist/PO-2023-TESTS/Francisca/teste2.in > /home/francisca105/ist/PO-2023-TESTS/Francisca/teste2.out